.no-dropdown-sign::after {
  display: none;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none;
}

.notification {
  background: #3e454c;
}

.dropdown-menu {
  max-height: 300px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.dropdown-menu{
  min-width: 25rem !important;
}

.dot {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  display: inline-block;
}

.no-dropdown-sign::before {
  display: none;
}

.dropdown-menu{
  background: #2eb875;
  border: 1px solid white;
  min-width: 50px !important;
  width: 50px;
  padding: 0;
}

.dropdown-item{
  padding: 0;
  padding-left: 9px;
  padding-right: 7px;
}

.navbar-brand{
  border-radius: 15px;
  padding-left: 7px;
  padding-right: 7px;
  color: white;
}

.my-orders{
  color: white;
}
