.no-dropdown-sign::after {
  display: none;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none;
}

.notification {
  background: #3e454c;
}

.dropdown-menu {
  max-height: 300px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.dropdown-menu{
  min-width: 25rem !important;
}

.dot {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  display: inline-block;
}
