<nav class="navbar navbar-dark bg-green justify-content-between">
  <a class="navbar-brand" routerLink="/">
    <h1>Taxi</h1>
  </a>

  <div class="float-right" id="navbarText">
    <div *ngIf="!isLoggedIn" class="btn-group float-right" role="group">
      <button type="button" class="btn btn-light btn-sm" routerLink="/login">Login</button>
      <button type="button" class="btn btn-secondary btn-sm" routerLink="/signup">Sign up</button>
    </div>

    <div *ngIf="isLoggedIn">
      <div class="dropleft no-dropdown-sign">
        <button class="btn dropdown-toggle no-dropdown-sign" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img width="30px;" class="mr-2" src="https://www.countryflags.io/{{getLocale()}}/flat/64.png">
        </button>
        <div class="dropdown-menu no-dropdown-sign" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#"><img width="30px;" class="mr-2" src="https://www.countryflags.io/ua/flat/64.png" (click)="setLocale('UA')"></a>
          <a class="dropdown-item" href="#"><img width="30px;" class="mr-2" src="https://www.countryflags.io/ru/flat/64.png" (click)="setLocale('RU')"></a>
          <a class="dropdown-item" href="#"><img width="30px;" class="mr-2" src="https://www.countryflags.io/gb/flat/64.png" (click)="setLocale('EN')"></a>
        </div>
        <a class="btn btn-sm bg-light text-center" (click)="logout()">Logout</a>
      </div>


    </div>
  </div>
</nav>
