<div id="container">
  <div id="inner">
    <div id="map" class="child map-container"> </div>
    <div class="child order-info">
      <h4>{{getLocalizedDeparture()}}:</h4>
      <div class="text">{{addresses.departureAddress!==null?addresses.departureAddress:getLocalizedPickPoint()}}</div>
      <h4>{{getLocalizedDestination()}}:</h4>
      <div class="text">{{addresses.destinationAddress!==null?addresses.destinationAddress:getLocalizedPickPoint()}}</div>
      <button class="btn btn-sm btn-secondary" type="button" name="button" (click)="clearMap()">{{getLocalizedClear()}}</button>
      <h4>{{getLocalizedPassengerCount()}}:</h4>
      <div class="switch-buttons">
        <span [ngClass]="orderPassengerCount!==4 ? 'btn btn-sm bg-green text-light switch-btn' : 'btn btn-sm bg-black text-light switch-btn'" (click)="setPassengerCount(4)">4</span>
        <span [ngClass]="orderPassengerCount!==8 ? 'btn btn-sm bg-green text-light switch-btn' : 'btn btn-sm bg-black text-light switch-btn'" (click)="setPassengerCount(8)">8</span>
        <span [ngClass]="orderPassengerCount!==12 ? 'btn btn-sm bg-green text-light switch-btn' : 'btn btn-sm bg-black text-light switch-btn'" (click)="setPassengerCount(12)">12</span>
      </div>
      <div class="img">
        <img src="{{imgname}}" alt=""/>
      </div>
      <div class="options">
        <div class="option" (click)="orderRegular(variant.categoryLocaleName.toUpperCase())" *ngFor="let variant of variants">
          <div class="option-category">{{variant.categoryLocaleName}}</div>
          <div class="option-arrival-time">{{variant.arrivalTime+getLocalizedMin()}}</div>
          <div class="option-price">{{variant.price+'₴'}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
