.card-deck{
  width: 90vw;
  margin-left: 5vw;
}

.card{
  color: white;
  margin: 15px;
}

.bg-green{
  background: #2eb875;
}

.bg-grey{
  background: #7c7c7c
}

.card-text{
  font-size: 1.3em;
}

.footer-text{
  font-size: 0.9em;
}

.display{
  padding-top: 40px;
  text-align: center;
  cursor: pointer;
}


.display-3{
  color: #2eb875;
}

.pages{
  text-align: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.page{
  padding: 10px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
